<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<title th:text="${title}"></title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<section>
		<form th:action="@{/booking}" th:object="${book}" method="post">
			<div class="container">
				<div class="row">
					<div class="col-5 mx-auto formmod">
						<h2 class="text-center">Add Flight Booking</h2>
						<input type="hidden" class="effect-1" th:field="*{flightId}"/>
						<input type="hidden" class="effect-1" th:field="*{id}"/>
						<div class="mb-3">
							<input type="text" class="effect-1" name="bookingId" th:value="${book.bookingId}" required="required" placeholder="Enter booking number">
							<span class="focus-border"></span>
						</div>
						<div class="mb-3">
							<input type="text" class="effect-1" name="pasengerName" th:value="${book.pasengerName}" required="required" placeholder="Enter passenger name">
							<span class="focus-border"></span>
						</div>
						<div class="mb-3">
							<label for="from" class="form-label">Status</label>
							<select class="form-select" id="status" name="status" th:value="${book.status}">
					    		<option value="Active">Active</option>
					    		<option value="Deactive">Deactive</option>
					  		</select>
						</div>
						
						<button type="submit" class="btn btn-danger px-3 py-2 d-block mx-auto" th:text="${book.bookingId != null} ? 'Update Ticket' : 'Booking Ticket'"></button>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>